*{
    padding: none;
    text-decoration: none;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: black;
    /* position: sticky;
    top: 0;
    left: 0; */
    
}
header .menu-logo h1{
    color: goldenrod;
}

header .menu-list ul{
    display: flex;
    gap: 5rem;
}

header .menu-list ul a{
    color: white;
}

header .menu-contato a{
    color: white;
}



#Bloco-01{
    background-image: url(img/bloco-01-fotob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    background-position: center;
    text-align: center;
    color: white;
}



#Bloco-01 hr{
    width: 30%;
    margin-left: 30%;
    padding: 4rem;
    box-shadow: 0px 4px goldenrod;
    border-color: transparent;
    border-radius: none;
}

#Bloco-01 h1{
    padding: 2rem;
    margin-bottom: -20px;
    font-size: 30px;
}

#Bloco-01 p{
font-size: 20px;
text-align: justify center;
margin-top: 20px;
}

#Bloco-02{
    background-color: black;
     height: 100vh;
     text-align: center;
     color: white;
 }

#Bloco-03{
    display: flex;
    justify-content: center;
    height: 50vh;
    padding: 1rem;
}
#Bloco-03 div{
    margin-bottom: -2.1rem;
}

#Bloco-03 .div-padrao img{
    width: 40vw;
    height: 48vh;
    border-radius: 0%;
}


img{
    width: 200px;
    height: auto;
    margin-bottom: 30px;
    border-radius: 10%;
}

img:hover{
    transform: scale(1.0); /*aumenta o tamanho da img ao passar o mouse*/
    transition: 0.3s;
    cursor: pointer;
}